
header{
  background-color: #b58900;
  border-radius: 5px;
  border-bottom: #45122b;
}



#map-container {
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 5px 10px 10px 10px;
}

#grandpy {
  background-color: #cccccc;
  border: 2px solid black;

  border-radius: 6px;

  line-height: 40px;
  padding-bottom: 50px;

}

#user {
  background-color: #a6d2db;
  border: 2px solid black;

  border-radius: 6px;

  line-height: 40px;
  padding-bottom: 50px;
}







.message {
  background: beige;
  border-radius: 10px;
}



.fa {
  font-size: 40px;
  width: 30px;
  color: black;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

footer{
  background-color: #b3b3cc ;
  border-radius: 6px;
  padding: 10px;
  margin: 20px ;
}



