<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Projet7</title>
    <style>
      /* Set the size of the div element witch contains the map */
      #map {
        height: 300px;  /* The height is 400 pixels */
        width: 60%;  /* The width is the width of the web page */
       }
    </style>
    <!--load jquery-->

    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <!--set the script root variable-->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
    </script>

    <!-- initialyse googlemap app-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>
    <script async type="text/javascript" src="../static/js/javascript.js"></script>

</head>

<body>
        <header>
            <img src="../static/img/images.png" alt="Logo en attente" class="logo" height = 150px width= auto style= "float:left">
            <h1 style="line-height: 150px">Prototype</h1>
        </header>



        {% block content %}{% endblock %}




    <footer style = "padding-top: 50px; font-size : 1.7em" >
    <p style = "display:inline">Aurelia Gourbère</p>
    <a href="https://github.com/horlas/OC_Project7" target="_blank" style = display:inline>Github</a>
    </footer>



</body>
</html>