{% extends 'base.html' %}
{% block content %}



<header id="header">
    <h1>GrandPy Papy Robot
    <p><img src="../static/img/grandfather.png" alt="logo" style="width:5%"></p>
    <h2>Le robot qui blobotte!</h2>
    </h1>
    <p>Un jeu de questions réponse entre grand père et toi</p>
    <p>Demande lui où il habite ?...</p>
</header>


<!--zone de tchat-->

<div class="card grey lighten-3 chat-room">
    <div class="card-body">

        <!-- Grid row -->
        <div class="row px-lg-2 px-2">

            <!-- Grid column -->
            <div class="col-md-3 col-xl-2 px-0">
            </div>

            <!-- Grid column -->
            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

                <div class="chat-message">

                    <ul id="message" class="list-unstyled chat">

                        <!--first GdPy message-->
                        <li class="d-flex justify-content-between mb-4">
                            <img src="../static/img/photoessai2gp.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                            <div class="chat-body white p-3 ml-2 z-depth-1">
                                <div class="header">
                                    <strong class="primary-font">Grand Py</strong>

                                </div>
                                <hr class="w-100">
                                <p class="gp_mess mb-0">
                                    Bonjour gentil visiteur ! Où veux tu aller ?
                                </p>

                            </div>
                        </li>
                        <!--first GdPy message-->
                        <!--get lat and lng in order to display the map-->
                        <div id="lat" style="display: none"></div>
                        <div id="lng" style="display: none"></div>

                    </ul>
                </div>
                <!--user input area-->
                    <div id="monancre" class="chat-message">
                        <ul id="form" class="list-unstyled chat">
                            <li class="white">
                                <label for="target">As-tu une question pour Grandpy?</label>
                                <div class="form-group basic-textarea">
                                    <input name="place" class="form-control pl-2 my-0" id="target" rows="3" placeholder="Tapez votre message ici..."  onclick='$("#target").val("");'>
                                </div>
                            </li>
                            <button id="submit" type="button"  class="btn btn-info btn-lg">Dis moi GPy !</button>
                        </ul>
                    </div>
                <!--user input area-->
                <!-- Progress bar -->
                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-xl-2 px-0">
            </div>

        </div>
        <!-- Grid row -->

    </div>
</div>

 <!-- Footer -->
<footer class="font-small ">
    <div class=" text-center py-3">
         <!-- Content -->
          <a href="#header" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-chevron-up"></span>Up</a>
          <h4 class="text-uppercase">2018 Aurélia Gourbère

                <a href="https://github.com/horlas/OC_Project7" class="btn btn-social-icon btn-github">
                <span class="fa fa-github "></span>
                </a>

          </h4>
    </div>
</footer>
 <!-- Footer -->

{% endblock %}






