{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <header id="header">
        <h1>GrandPy Papy Robot
        <p><img src="../static/img/grandfather.png" alt="logo" style="width:5%"></p>
        </h1>
        <p>Un jeu de questions réponse entre grand père et toi</p>
        <p>Demande lui où il habite ?...</p>
    </header>
</div>


<div class="container-fluid">
    <div class="row">

        <div id="grandpy" class="col-sm-6">Ce que dit GrandPy
            <div class="gp_mess">Bonjour petite! Où veux aller?</div>

                <!--balises pour recuperer les données lat et long pour affichage de la map-->
                <div id="lat" style="display: none"></div>
                <div id="lng" style="display: none"></div>
        </div>


        <div id="user"class="col-sm-6">Ce que dit user
            <div class="us_mess">Je suis ta Grand mère!</div>
        </div>



    </div>
</div>
<div class="container-fluid">
   <label for="target">As-tu une question pour Grandpy?</label>
   <div class="input-group">
        <input id="target" type=text class="form-control" name="place">
        <span class="input-group-btn">
            <button id="submit" class="btn btn-primary" type="button" onclick="getMes();"><i class="far fa-smile"></i>  Dis moi GPy?</button>
        </span>
   </div>
</div>

                <section id = "map-container">
                    <div class="container-fluid"></div>
                </section>
<div class="container-fluid">
    <footer id="footer" class ="row text-center">
         <a href="#header" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-chevron-up"></span>Up</a>

         <h4>2018 Aurélia Gourbère
            <a href="https://github.com/horlas/OC_Project7" class="btn btn-social-icon btn-github">
            <span class="fa fa-github "></span></a>
         </h4>
    </footer>

</div>






        </div>
{% endblock %}






